# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# ESP-IDF build output
# ------------------------------
build/
sdkconfig.old

# ------------------------------
# OS junk
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc